@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap');

body {
    height: 100%;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

.form {
    text-align: center;
    background: #1c1c1c;
}

.neo-log {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 4rem 2rem;
    width: 20%;
    margin-top: 12rem;
}

.neo-sign {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 3rem 2rem;
    width: 20%;
    margin-top: 4rem;
}

.text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 5rem 2rem;
    width: 30%;
}

h1,
h3 {
    color: #1c1c1c;
    text-shadow: .05rem .05rem white;
}

.link {
    color: #1c1c1c;
    text-shadow: .05rem .05rem white;
    margin: 0 2rem 0 2rem;
    font-size: larger;
    text-decoration: none;
}